@use 'breakpoints' as *;

@font-face {
	font-family: "Help Me";
	src: url(../fonts/HelpMe.ttf);
}

@font-face {
	font-family: "Nightcore Demo";
	src: url(../fonts/Nightcore\Demo.ttf);
}

@font-face {
	font-family: "Strange Path";
	src: url(../fonts/Strange\Path.ttf);
}

@font-face {
	font-family: "CC Wild Words Roman Font";
	src: url(../fonts/ufonts.com_cc-wild-words-roman.ttf);
}

$fonts:("flavor":"Nightcore Demo",
	"main":"CC Wild Words Roman Font",
	"normal":"Trebuchet MS");

@each $key,
$val in $fonts {
	.font-#{$key} {
		font-family: ($val)
	}
};

$font-sizes:("fs1": 1.7rem,
	"fs2": 1.2rem,
	"fs3": 1.25rem,
	"fs4": 1.2rem,
	"fs5": 1.1rem,
	"fs6": 1.05rem,
	"fs7": 1rem,
	"fs8": 0.8rem,
);

@for $i from 1 through 6 {
	h#{$i} {
		font-size: map-get($font-sizes, "fs#{$i}");
	}
}