@font-face {
	font-family: "Help Me";
	src: url(../fonts/HelpMe.ttf);
}

@font-face {
	font-family: "Nightcore Demo";
	src: url(../fonts/Nightcore\Demo.ttf);
}

@font-face {
	font-family: "Strange Path";
	src: url(../fonts/Strange\Path.ttf);
}

@font-face {
	font-family: "CC Wild Words Roman Font";
	src: url(../fonts/ufonts.com_cc-wild-words-roman.ttf);
}

$fonts:(flavorFont:"Nightcore Demo", mainFont:"CC Wild Words Roman Font", normalFont:"Trebuchet MS");
$flavorFont: "Nightcore Demo";
$mainFont: "CC Wild Words Roman Font";
$normalFont: "Trebuchet MS";