@use 'index';

.footer {
	@extend .font-main;
	color: white;
	background-color: black;
	font-size: 1.4rem;

	section {
		margin: 5px 0;
	}

		.footer-link {
			text-decoration: none;
			color: white;
			list-style-type: none;
			padding: 0.1rem 0;

			&:hover {
				color: index.$highlightColor;
				font-weight: bold;
			}
		}

	.footer-contact {
		img {
			height: 1.3em;
		}

		div {
			a {
				img {
					height: 2.5rem;
				}
			}
		}
	}
}