@use 'index' as *;

.header {
    @extend .font-flavor;
    background-color: black;
    font-size: map-get($font-sizes, "fs1");
    @media (min-width: map-get($breakpoints, bp-md)) and (max-width: map-get($breakpoints, bp-lg)) {
        font-size: map-get($font-sizes, "fs2");;
    }

    * {
        animation: fadeInDown 0.5s;
    }

    .navbar-dark {
        .navbar-brand{
            max-width: 13%;
            min-width: 17rem;
        
        .header-logo {
            max-width: 13%;
            min-width: 17rem;
        }

        .navbar-toggler {
            border: 5px solid white;
        }
    }
        .header-background {
            max-width: 13%;
            min-width: 17rem;
        }

        .navbar-nav {
            .nav-link {
                text-decoration: none;
                color: white;
                list-style-type: none;
            }

            .header-link {
                text-decoration: none;
                color: white;
                list-style-type: none;

                &:hover {
                    color: $highlightColor !important;
                    font-weight: bold;
                }
            }
        }


    }
}