@use 'index';

.header {
    @extend .font-flavor;
    background-color: black;
    font-size: 1.8rem;

    * {
        animation: fadeInDown 0.5s;
    }

    .navbar-dark {
        .navbar-brand{
            max-width: 13%;
            min-width: 17rem;
        
        .header-logo {
            max-width: 13%;
            min-width: 17rem;
        }

        .navbar-toggler {
            border: 5px solid white;
        }
    }
        .header-background {
            max-width: 13%;
            min-width: 17rem;
        }

        .navbar-nav {
            .nav-link {
                text-decoration: none;
                color: white;
                list-style-type: none;
            }

            .header-link {
                text-decoration: none;
                color: white;
                list-style-type: none;

                &:hover {
                    color: index.$highlightColor !important;
                    font-weight: bold;
                }
            }
        }


    }
}