@use 'index' as *;

p {
    font-size: map-get($font-sizes, "fs7");
    margin: 0;
}
.background {
    @extend .font-main;
    * {
        animation: fadeIn 1s;
    }

    background: url(../img/backgroundMiddle.png),
    rgb(252, 252, 252);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;

    .header-blend {
        @include background-blend;
        background: url(../img/backgroundTopBlend.png), linear-gradient(rgb(36, 36, 36), white);
        animation: fadeInDown 0.7s;
    }

    .footer-blend {
        @include background-blend;
        background: url(../img/backgroundBottomBlend.png), linear-gradient(white, rgb(36, 36, 36));
        animation: fadeInUp 0.7s;
    }

    /*formats for items inside panel-like boxes*/
    .boxItem {
        background-color: white;
        border: 3px;
        margin: 0;
        border-color: black;
        border-style: solid;
        border-radius: 7px;
        overflow: hidden;
    }

    .boxText {
        @extend .boxItem;
        padding: 1rem;
        color: black;
    }

    .boxDecoImg {
        @extend .boxItem;
        object-fit: cover;
    }

    .boxSectionTitle {
        @extend .boxItem;
        text-align: center;
        grid-column: 1 / -1;
    }

    .square {
        /*makes element square*/
        @extend .boxItem;
        object-fit: contain;
        max-width: 150px;
        max-height: 150px;
        width: 100%;
    }

    .rectangle {
        @extend .boxItem;
        object-fit: contain;
        width: 150px;
        height: 200px;
    }

    .titleBodyContainer {
        /*For elements that have a pair of head-text elements, like reviews*/
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .textLinks {
        color: $highlightColor;

        &:hover {
            text-decoration: none;
            color: $highlightColor;
            font-weight: bold;
        }
    }

    .row {
        img {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .products {
        a {
            &:hover {
                color: $highlightColor;
                transform: scale(120%);
            }
            transition: all 0.2s ease-in-out;
            color: black;
            font-size: map-get($font-sizes, "fs1");
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        div {
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(120%);
            }
        }

        img {
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(120%);
            }
        }

        h4 {
            display: none;
        }
    }

    .reviewItem {
        max-width: 85%;
        width: fit-content;
        height: 100%;
        h4 {
            display: block;
        }
    }

    .section-contact-form{
        input,
        textarea {
            max-width: 100%;
        }
        p {
           margin: 5px 0; 
        }
    }

    /* INDEX */
    .container {
        .intro {
            @media (min-width: map-get($breakpoints, bp-md)) {
                display: grid;
                grid-template-rows: repeat(10, 6rem);
                grid-template-columns: repeat(6, 1fr);
                gap: 2rem;
            }
        }

        .intro-1 {
            order: 1;
        }

        .intro-2 {
            order: 3;
        }

        .intro-3 {
            order: 5;
        }

        .intro-imgCrack {
            order: 6;
        }

        .intro-imgGriffith {
            order: 2;
        }

        .intro-imgLandscape {
            order: 4;
        }

        @media (min-width: map-get($breakpoints,bp-sm)) {
            .intro-1 {
                order: 1;
            }

            .intro-2 {
                order: 3;
            }

            .intro-3 {
                order: 8;
            }

            .intro-imgCrack {
                order: 7;
            }

            .intro-imgPuck {
                display: none;
            }

            .intro-imgGriffith {
                order: 2;
            }

            .intro-imgZodd {
                order: 5;
            }

            .intro-imgLandscape {
                order: 6;
            }
        }

        @media (min-width: map-get($breakpoints,bp-md)) {
            .boxTextFit {
                height: fit-content;
            }

            .intro-1 {
                grid-row: 1 / 3;
                grid-column: 1 / 6;
                z-index: 2;
            }

            .intro-2 {
                grid-row: 5 / 8;
                grid-column: 3 / 7;
                z-index: 2;
            }

            .intro-3 {
                grid-row: 9 / 11;
                grid-column: 1 / 5;
                z-index: 2;
            }

            .intro-imgGuts {
                grid-row: 2 / 4;
                grid-column: 5 / 7;
                z-index: 1;
                max-width: 100%;
            }

            .intro-imgGriffith {
                grid-row: 4/ 5;
                grid-column: 2 / 6;
                z-index: 1;
                max-width: 100%;
                height: 175%;
                transform: scaleX(-1);
            }

            .intro-imgPuck {
                grid-row: 8 / 10;
                grid-column: 5 / 7;
                z-index: 0;
                max-width: 100%;
                height: 100%;
                display: flex;
            }

            .intro-imgZodd {
                grid-row: 6 / 11;
                grid-column: 1 / 3;
                z-index: 1;
                max-width: 100%;
                max-height: 100%;
            }

            .intro-imgCrack {
                display: none;
            }

            .intro-imgLandscape {
                grid-row: 11 / 13;
                grid-column: 1 / 7;
                max-height: 270px;
            }
        }
    }
}

/*FAQ*/
details {
    ul { 
        margin-top: 0.3rem;
        margin-bottom: 0;
    }
}

/*Products*/
.section-productsOur {
    div {
        position: relative;
        display: inline-block;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(130%);
        }
    }
    img {
        max-height: 80%;
        max-width: 100%;
    }
    h6 {
        display: none;
    }

    div:hover {
        & h6 {
            transition: all 0.2s ease-in-out;
            display: block;
            font-size: 15px;
        }
    }
}