@import 'breakpoints';

/*fonts*/
$fonst:(flavorFont:"Nightcore Demo", mainFont:"CC Wild Words Roman Font", normalFont:"Trebuchet MS");
$flavorFont: "Nightcore Demo";
$mainFont: "CC Wild Words Roman Font";
$normalFont: "Trebuchet MS";

/*colors*/
$highlightColor: rgba(197, 7, 0, 255)